<title>Tonverlag</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="shortcut icon" href="images/icons/favicon.ico" />
<!-- PWA Manifest -->
<link rel="manifest" type="application/json" href="/manifest.json">
<!-- Add to home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Tonverlag">
<link rel="apple-touch-icon" href="images/icons/Icon-192.png">
<!-- PWA meta -->
<meta name="theme-color" content="#007bff" />
<meta name="description" content="Quickly upload your audio.">