<!DOCTYPE html>
<html>

<head>
  <title>Tonverlag</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a id="brandLogo">
          <h1>Tonverlag</h1>
        </a>
        <p>Welcome to Tonverlag</p>
      </div>
      <div class="col-sm">
        <form action="upload">
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <% if (locals.tracks !== undefined && locals.tracks.length > 0) { %>
        <%- include('partials/homeTrackList.ejs', {tracks: locals.tracks}) %>
        <% } else if (locals.tracks !== undefined && locals.tracks.length == 0) { %>
        <div class="alert alert-light" role="alert">
          There are no tracks to show at the moment. Go ahead and <a href="upload">upload one</a>.
        </div>
        <% } else { %>
        <div class="alert alert-danger" role="alert">
          There was an issue retrieving the tracks. <a href="">Try again</a>?
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
<%- include('partials/vendorscriptsView', {});  %>
<script src="javascripts/index.client.js"></script>

</html>