<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1><%= title %></h1>
        <p>Upload a new track</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <form action="upload" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleFormControlFile1">Select the audio file</label>
            <input type="file" class="form-control-file" id="fileInput" name="audioFile">
          </div>
          <input type='submit' class="btn btn-primary" id='btnLoad' value='Submit' />
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/vendorscriptsView');  %>
<script src="javascripts/upload.client.js"></script>

</html>