body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.card-track {
  margin-bottom: 2vh;
}

div.card-body {
  text-align: left;
}

div.player {
  position: sticky;
  bottom: 0;
  background: rgb(36,42,41);
  background: linear-gradient(0deg, rgba(36,42,41,1) 0%, rgba(69,69,69,1) 100%); 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

div.player > .controls {
  flex-grow: 1;
  padding: 1vw;
}

div.player .loading {
  font-weight: bold;
  position: absolute;
  left: 50%;
}

div#waveform {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 1% 0;
}