body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.card-track {
  margin-bottom: 2vh;
}

div.card-body {
  text-align: left;
}

div.player {
  position: sticky;
  bottom: 0;
  background: rgb(36,42,41);
  background: linear-gradient(0deg, rgba(36,42,41,1) 0%, rgba(69,69,69,1) 100%); 
}

div.player .controls-and-waveform {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

div.player .controls {
  flex-grow: 1;
  padding: 1vw 2vh;
}

div.player .loading {
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 45%;
}

div.player #waveform {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 1vh 0;
}

div.player .information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5vh 2vw 0 2vw;
}

div.player .artist-and-title {
  flex: 1 1 0px;
}

div.player .duration {
  flex: 0 1 auto;
}

div.card-track .card-text {
  font-size: smaller;
}

div.footer {
  margin-top: 5vh;
  padding: 1vh 0;
  position: absolute;
  max-width: 100vw;
  left: 0;
  right: 0;
  font-size: small;
}

